.input-field {

  input[type]:focus:not([readonly]) {
      border-bottom: 1px solid  white;
      box-shadow: 0 1px 0 0 white;
      color: white;
  }

  input[type]:focus:not([readonly]) + label{
    color: white;
  }
  
}